.artbox{
    width:1000px;
    margin:0 auto;
}
.artbox .artitle{
    height:40px;
    text-align: center;
    line-height: 40px;
}
.artbox .artjj{
    height:25px;
    text-align: center;
    line-height: 25px;
}
.artbox .artjj span{
    margin-right:10px;
}
.artbox .artimg{
    display: block;
    width:500px;
    margin:0 auto;
}
.artbox .content{
    width:750px;
    margin:0 auto;
    margin-top:20px;
    text-align: left;
}
.message{
    width:750px;
    margin:0 auto;
    margin-top:40px;
    padding-top:20px;
    border-top:1px solid #ddd;
}
.message h3{
    margin:10px;
}
.message h3 span{
    font-size:16px;
    color:#aaa;
}
.message textarea{
    width:100%;
    resize: none;
}
.history{
    margin:20px 0;
    overflow: hidden;
}
.lybox{
    width:100%;
    overflow: hidden;
    margin:10px 0;
}
.lybox img{
    display: block;
    height:50px;
    width:50px;
    float: left;
    margin-right:20px;
}
.lybox .lyxx{
    height:50px;
}
.lybox h3{
    height:30px;
    font-size:20px;
    margin:0;
    line-height: 30px;
}
.lybox p{
    height:20px;
    font-size:14px;
    color:#999;
    line-height: 20px;
}
.lybox .lycon{
    margin:10px 0;
    padding:10px 8px;
    box-sizing: border-box;
    width:100%;
    font-size:18px;
    border:1px solid #eee;
    border-radius:5px;
}


.hfbox{
    width:90%;
    float:right;
    overflow: hidden;
}
.hfbox p{
    height:20px;
    font-size:20px;
    color:#222;
    line-height: 20px;
}
.hfbox p span{
    font-size:14px;
    color:#999;
}
.hfbox .lycon{
    margin:10px 0;
    padding:10px 8px;
    box-sizing: border-box;
    width:100%;
    font-size:18px;
    border:1px solid #eee;
    border-radius:5px;
}
.replay{
    display: none;
    width:100%;
    margin:10px 0;
    float:left;
}