<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{CSS_PATH}bootstrap.css">
</head>
<style>
    table{
        border: 1px solid #e4e4e4;
        margin:20px auto;
    }
    th,td{
        border: 1px solid #e4e4e4;
        box-sizing: border-box;
        padding:5px 15px;
        text-align: center;
    }
    td:nth-child(2){
        text-align: left;
    }
    a{
        color:#555;
    }
    a:hover{
        color:#FF6709;
    }
</style>
<body>
<table cellspacing="0" class="table table-striped">
    <tr>
        <th>栏目ID</th>
        <th>栏目名</th>
        <th>上级栏目ID</th>
        <th>操作</th>
    </tr>
    {$str}
</table>
</body>
</html>