{include $header}
<link rel="stylesheet" href="{CSS_PATH}bootstrap.css">
<link rel="stylesheet" href="{CSS_PATH}write.css">
<script src="{STATIC_PATH}word/ueditor.config.js"></script>
<script src="{STATIC_PATH}word/ueditor.all.min.js"></script>
<script src="{STATIC_PATH}word/lang/zh-cn/zh-cn.js"></script>
<script src="{JS_PATH}upload.js"></script>
<script src="{JS_PATH}write.js"></script>
<style>
    .form-control{
        /*width:30%;*/
        margin:20px 0;
    }
</style>
<div class="boxcon">
    <form action="index.php?f=write&a=add" method="post">
        <input type="text" placeholder="输入标题" name="wtitle" class="form-control">
        <select name="cid" id="" class="form-control">
            <option value="0">请选择类型</option>
            {$str}
        </select>
        <input type="text" placeholder="关键字"  name="wword" class="form-control">
        <input type="text" placeholder="简介"  name="wjj" class="form-control">
        <script id="editor" type="text/plain" name="wcon"></script>
        添加缩略图:
        <div class="boximg">
            <input type="hidden" name="urlimg" class="urlimg" >
        </div>
        <input type="submit" value="发布">
    </form>
</div>
</body>
</html>